.formsub{

 form{
    padding: 50px 10px;
    width: 90%;
    margin:50px auto;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   
    @media screen and (min-width:700px) {
        
        width: 60%;
        padding: 50px 10px;
        padding: 50px 50px;
        max-width:700px ;

    }

    div{

        margin: 10px auto;
        label{

            display: block;
            color:$blue;
            font-weight: 600;
            margin: 10px auto 5px;

        }

        input, select{
            background: rgb(220, 232, 243);
            width: 100%;
            outline: none;
            line-height: 2;
            border-radius: 5px;
            border: none;
            font-weight: 600;
            transition: 0.3 all;
         &:focus{
     
          box-shadow: rgb(72, 163, 212) 0px 3px 8px;
         }

        }

     }

     ul{
        list-style: none;
        li{
            color: $red;
            font-size: 0.8rem;
            font-weight: 600;
        }
     }
 }

}