
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import '_variables.scss';
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{

    font-size: 17px;
}

body {

    font-family: "Montserrat", sans-serif;

    background:$white;

}
a{
    text-decoration: none;
    color: inherit;
}
.btn{

    padding: 10px 30px;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid $blue;
    color: $blue;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    transition: 0.3s;
    &:hover{
        background-color: $blue;        
        color: $white;
    }

}

@import '_navbar.scss';
@import '_main.scss';
@import '_games.scss';
