
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import '_variables.scss';
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{

    font-size: 17px;
}

body {

    font-family: "Montserrat", sans-serif;

    background:$white;

}
a{
    text-decoration: none;
    color: inherit;
}
.btn{

    padding: 10px 30px;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid $blue;
    color: $blue;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    transition: 0.3s;
    &:hover{
        background-color: $blue;        
        color: $white;
    }

}

.flash{
    width: 70%; 
    height: 50px;
    margin: 50px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 5px 10px;
    
  }
  .success{
    background: $greenlight;
    border:1px solid $greenhigh;
    color: $greenhigh;
    p{
        font-size: calc(0.8rem + 0.5vw)
    }

  }
  .alert{
    background: #d8c3c2;
    border:1px solid #58181f;
    color:  #58181f;
    p{
        font-size: calc(0.8rem + 0.5vw)
    }

  }
@import '_navbar.scss';
@import '_main.scss';
@import '_games.scss';
