
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import '_variables.scss';
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{

    font-size: 17px;
}

body {

    font-family: "Montserrat", sans-serif;
 
    background:$white;
    
    overflow-x: hidden;

}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
.btn{

  
    display: block;
    text-align: center;
    border: 1px solid $blue;
    color: $blue;
    text-decoration: none;
    border-radius: 30px;
    font-weight: 600;
    transition: 0.3s;
    padding: calc(10px + 0.3vw) calc(8px + 0.6vw);
    font-size:calc(0.5rem + 0.4vw) ;
    font-weight: 600;
    width: calc(8rem + 3.5vw);
    min-width: 103px;
    margin: 20px auto;
    &:hover{
        background-color: $blue;        
        color: $white;
    }

}

.flash{
    width: 70%; 
    height: 50px;
    margin: 50px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 5px 10px;
    
  }
  .success{
    background: $greenlight;
    border:1px solid $greenhigh;
    color: $greenhigh;
    p{
        font-size: calc(0.8rem + 0.5vw)
    }

  }
  .alert{
    background: #d8c3c2;
    border:1px solid #58181f;
    color:  #58181f;
    p{
        font-size: calc(0.8rem + 0.5vw)
    }

  }
@import '_navbar.scss';
@import '_form.scss';
@import '_main.scss';
@import '_games.scss';
@import '_profile.scss';
