{% extends 'base.html.twig' %}

{% block title %}On joue !{% endblock %}

{% block body %}
<section class="main games">


    <ul>
        <li >
            <a class="btn" href="{{ path('games_diff',{difficultty:'easy'}) }}" >Facile </a>
        </li>
        <li>
            <a  class="btn" href="{{ path('games_diff',{difficultty:'medium'}) }}" >Moyen </a>
        </li>
        <li >
            <a class="btn" href="{{path('games_diff',{difficultty:'hard'}) }}" >difificile </a>
        </li>
    </ul>
</section>
{% endblock %}
