{% extends 'base.html.twig' %}

{% block title %}On joue !{% endblock %}

{% block body %}
<section class="main games">

    <div class="tentative">
       <span class="btn">tentative {{numbreAttempts}} </span> 
    </div>
    <div class="container">

        
        {{ form_start(form) }}

        {% for field in form %}

        
       <span>{{ form_widget(field) }}</span> 
        {% endfor %}

        <button class="btn">Jouez</button>
        {{ form_end(form) }}
    </div>
 

    </div>
</section>
{% endblock %}