@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 17px;
}

body {
  font-family: "Montserrat", sans-serif;
  background: white;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.btn {
  display: block;
  text-align: center;
  border: 1px solid #3591dd;
  color: #3591dd;
  text-decoration: none;
  border-radius: 30px;
  font-weight: 600;
  transition: 0.3s;
  padding: calc(10px + 0.3vw) calc(8px + 0.6vw);
  font-size: calc(0.5rem + 0.4vw);
  font-weight: 600;
  width: calc(8rem + 3.5vw);
  min-width: 103px;
  margin: 20px auto;
}
.btn:hover {
  background-color: #3591dd;
  color: white;
}

.flash {
  width: 70%;
  height: 50px;
  margin: 50px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 5px 10px;
}

.success {
  background: lightgreen;
  border: 1px solid green;
  color: green;
}
.success p {
  font-size: calc(0.8rem + 0.5vw);
}

.alert {
  background: #d8c3c2;
  border: 1px solid #58181f;
  color: #58181f;
}
.alert p {
  font-size: calc(0.8rem + 0.5vw);
}

.navbar {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #3591dd;
  color: white;
}
@media screen and (max-width: 650px) {
  .navbar {
    display: block;
  }
}
.navbar .logo {
  margin-right: 100px;
  margin-left: 20px;
}
@media screen and (max-width: 650px) {
  .navbar .logo {
    width: 100px;
    margin: auto;
    height: 40px;
    padding-top: 10px;
  }
}
.navbar .logo p {
  font-size: 1.5rem;
  font-weight: bold;
}
.navbar ul {
  display: flex;
  list-style: none;
  margin-right: 20px;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 650px) {
  .navbar ul {
    display: block;
    text-align: center;
    margin: 0;
  }
}
.navbar ul li {
  padding: 20px 30px;
  transition: 0.3s;
}
@media screen and (max-width: 650px) {
  .navbar ul li {
    padding: 15px 0;
  }
}
.navbar ul li a {
  position: relative;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 0.9rem;
  transition: 0.3s;
}
.navbar ul li a span {
  font-size: 1.2rem;
  display: inline-block;
  position: absolute;
  top: -2px;
  left: -26px;
}
.navbar ul li:hover {
  background-color: white;
  cursor: pointer;
}
.navbar ul li:hover a {
  color: #3591dd;
}
@media screen and (max-width: 600px) {
  .navbar ul ul {
    display: none;
  }
}

.formsub form {
  padding: 50px 10px;
  width: 90%;
  margin: 50px auto;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
@media screen and (min-width: 700px) {
  .formsub form {
    width: 60%;
    padding: 50px 10px;
    padding: 50px 50px;
    max-width: 700px;
  }
}
.formsub form div {
  margin: 10px auto;
}
.formsub form div label {
  display: block;
  color: #3591dd;
  font-weight: 600;
  margin: 10px auto 5px;
}
.formsub form div input, .formsub form div select {
  background: rgb(220, 232, 243);
  width: 100%;
  outline: none;
  line-height: 2;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  transition: 0.3 all;
}
.formsub form div input:focus, .formsub form div select:focus {
  box-shadow: rgb(72, 163, 212) 0px 3px 8px;
}
.formsub form ul {
  list-style: none;
}
.formsub form ul li {
  color: red;
  font-size: 0.8rem;
  font-weight: 600;
}

.main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.container {
  width: 80%;
}
.container form {
  width: 100%;
  margin-top: 30px;
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 650px) {
  .container form {
    flex-direction: column;
  }
}
.container form input {
  width: calc(1rem + 6.5vw);
  height: calc(1rem + 6.5vw);
  background: linear-gradient(171deg, rgb(171, 223, 250) 12%, rgba(53, 161, 221, 0.9724264706) 51%);
  color: white;
  font-size: calc(2rem + 3vw);
  font-weight: 600;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.3s all ease;
}
@media screen and (max-width: 650px) {
  .container form input {
    width: calc(3rem + 6.5vw);
    height: calc(3rem + 6.5vw);
  }
}
.container form input:focus {
  border: 3px Solid rgb(30, 91, 183);
}
.container form input.misplaced {
  background: linear-gradient(171deg, rgb(250, 247, 202) 14%, rgba(213, 200, 50, 0.9724264706) 51%);
  color: white;
  border-radius: 50%;
}
.container form input.correct {
  background: linear-gradient(171deg, rgb(249, 197, 197) 23%, rgba(221, 53, 53, 0.9724264706) 51%);
  color: white;
}
.container form span {
  margin-right: 3px;
  background: linear-gradient(171deg, rgb(171, 223, 250) 12%, rgba(53, 161, 221, 0.9724264706) 51%);
}
.container form .btn {
  margin: 20px 30px;
}

.profile h1 {
  margin-bottom: 50px;
}
.profile .parent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
}
@media screen and (max-width: 1050px) {
  .profile .parent {
    flex-wrap: wrap;
  }
}
.profile .parent .nombre {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3591dd;
  color: white;
  margin: 20px;
  width: calc(150px + 3vw);
  height: calc(150px + 3vw);
  border-radius: 50%;
}
.profile .parent .nombre.gagnes {
  background-color: green;
}
.profile .parent .nombre.perdus {
  background-color: red;
}
.profile .parent .nombre.nofini {
  background-color: rgb(222, 222, 65);
}
.profile .parent .nombre span {
  font-weight: 700;
}/*# sourceMappingURL=app.css.map */