@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 17px;
}

body {
  font-family: "Montserrat", sans-serif;
  background: white;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  padding: 10px 30px;
  display: inline-block;
  margin-top: 20px;
  border: 1px solid #3591dd;
  color: #3591dd;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 600;
  transition: 0.3s;
}
.btn:hover {
  background-color: #3591dd;
  color: white;
}

.flash {
  width: 70%;
  height: 50px;
  margin: 50px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 5px 10px;
}

.success {
  background: lightgreen;
  border: 1px solid green;
  color: green;
}
.success p {
  font-size: calc(0.8rem + 0.5vw);
}

.alert {
  background: #d8c3c2;
  border: 1px solid #58181f;
  color: #58181f;
}
.alert p {
  font-size: calc(0.8rem + 0.5vw);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #3591dd;
  color: white;
}
.navbar .logo p {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 20px;
}
.navbar ul {
  display: flex;
  list-style: none;
  margin-right: 20px;
  justify-content: space-around;
  align-items: center;
}
.navbar ul li {
  padding: 20px 30px;
  transition: 0.3s;
}
.navbar ul li a {
  position: relative;
  text-decoration: none;
  color: white;
  font-weight: 500;
}
.navbar ul li a span {
  font-size: 1.3rem;
  display: inline-block;
  position: absolute;
  top: -2px;
  left: -26px;
}
.navbar ul li:hover {
  background-color: white;
  cursor: pointer;
}
.navbar ul li:hover a {
  color: #3591dd;
}

.main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.container {
  width: 80%;
}
.container form {
  width: 100%;
  margin-top: 30px;
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
}
.container form input {
  width: 100px;
  height: 100px;
  background: linear-gradient(171deg, rgb(171, 223, 250) 12%, rgba(53, 161, 221, 0.9724264706) 51%);
  color: white;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.3s all ease;
}
.container form input:focus {
  border: 3px Solid rgb(30, 91, 183);
}
.container form input.misplaced {
  background: linear-gradient(171deg, rgb(250, 247, 202) 14%, rgba(213, 200, 50, 0.9724264706) 51%);
  color: white;
  border-radius: 50%;
}
.container form input.correct {
  background: linear-gradient(171deg, rgb(249, 197, 197) 23%, rgba(221, 53, 53, 0.9724264706) 51%);
  color: white;
}
.container form span {
  margin-right: 3px;
  background: linear-gradient(171deg, rgb(171, 223, 250) 12%, rgba(53, 161, 221, 0.9724264706) 51%);
}
.container form .btn {
  margin: 0 30px;
}/*# sourceMappingURL=app.css.map */